<!DOCTYPE html>
<html>
  <head>
    <title>Interface do usuário</title>
  </head>
  <body>
    <h1>Escolha uma das opções abaixo:</h1>
    <.link href="/simulacao">Simular Emprestimo</.link>
    <.link href="/emprestimos">Ver Emprestimos</.link>
    <.link href="/pessoal">Emprestimo Pessoal</.link>
  </body>
</html>
