<!DOCTYPE html>
<html>
  <head>
    <title>Sucesso no pagamento</title>
  </head>
  <body>
    <h1>Pagamento efetuado com sucesso!</h1>
    <p>O pagamento da parcela foi atualizado com sucesso no sistema.</p>
  </body>
</html>
