<!DOCTYPE html>
<html>
  <head>
    <title>Empréstimo Pessoal</title>
  </head>
  <body>
    <h1>Escolha uma das opções abaixo:</h1>
    <.link href="/personal/parcel_payment">Pagar Parcela</.link>
    <.link href="/personal/renegotiation">Renegociação</.link>
    <.link href="/personal/request_loan">Solicitar Empréstimo</.link>
  </body>
</html>
