<!DOCTYPE html>
<html>
<head>
  <title>Resultado da Simulação</title>
</head>
<body>
  <div>
    <p>Taxa de juros: <%= @taxa_juros %>%</p>
    <p>Valor total: <%= @valor_total %></p>
    <p>Valor da parcela mensal: <%= @valor_parcela_mensal %></p>
  </div>
</body>
</html>
