<!DOCTYPE html>
<html>
<head>
	<title>Simulação de empréstimo</title>
</head>
<body>
	<form action="/simular" method="post">

	<label>Valor do empréstimo:</label>
	<input type="number" name="valor_emprestimo">

	<label>Prazo de pagamento (em meses):</label>
	<input type="number" name="prazo_pagamento">

	<label>Renda mensal:</label>
	<input type="number" name="renda_mensal">

	<button type="submit">Simular</button>
</form>
</body>
</html>
